@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "azeret Mono", serif;
}
/* banner styles */
.banner-container{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 0;
    border: none;
    
}
.banner-content{
    text-align: center;
}
.btn-primary{
        border-radius: 8px;
        padding: 10px;
        background-color: black;
        
}
.text-color{
    color: aliceblue;
}
/* main style */
main{
    max-width: 852px;
    margin: 0 auto ;
}
/* why web dev */
.web-dev{
    text-align: center;
}
.group-1, .group-2{
    display: flex;
    align-items: center;
}
/* inspiration */
.inspiration{
    text-align: center;
}
.video{
    margin-bottom: 100px;
}
/* target */
.targets-title, .targets-description{
    text-align: center;
}
.target-container{
    display: flex;
}